/* style.css */

html, body {
  height: 100%;
}

body {
 /* margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  /*align-items: center; */
}

.logo   {
    color: forestgreen; 
    font-family: "Amatic SC", sans-serif, Serif;
    font-style: italic;
    text-align:center;
    font-size: 50px;
    }
        
.welcomeimg {
    display: block;
    margin: auto;
    width: 10%;
    height: auto;
    }
        
.button {
    display:inline-block;
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 28px;
    font-family: "Amatic SC", sans-serif, Serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    }

#container{
        text-align: center;
    }



  .margin {margin-bottom: 45px;}
  .bg-1 { 
      background-color: #D3D3D3; /* Green */
      color: #ffffff;
  }
  .bg-2 { 
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
  .bg-3 { 
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 { 
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }

.container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }

.navbar-brand{
    font-size: 32px;  
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 32px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }
 